.navbar{
    background-color: red;
}

.navbar a{
    color:white;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:active,
.navbar .navbar-nav > .open > a:hover {
    background-color: red;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: red;
    background-color: #428bca;
}


.panel:hover {
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}

#highlights-carousel{
    width: auto;
    height: 400px;
    max-width: 100%;
}

